
/*alert overwrides*/
.bs-callout {
	padding: 20px;
	border-left: 3px solid #eee;
	margin-bottom: 20px;
}

.bs-callout h4 {
	margin-top: 0;
	margin-bottom: 5px
}
.bs-callout p:last-child {
	margin-bottom: 0
}
.bs-callout-success {
	background-color: #F3FCF2	;
	border-color: #47B844
}
.bs-callout-danger {
	background-color: #fdf7f7;
	border-color: #d9534f
}
.bs-callout-danger h4 {
	color: #d9534f
}
.bs-callout-warning {
	background-color: #fcf8f2;
	border-color: #f0ad4e
}
.bs-callout-warning h4 {
	color: #f0ad4e
}
.bs-callout-info {
	background-color: #f4f8fa;
	border-color: #5bc0de
}
.bs-callout-info h4 {
	color: #5bc0de
}

.row.bs-callout {
	margin-left: 0;
	margin-right: 0;
}

